@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #3778C2;
  --color-primary-dark: #2c5e9a;
  /* A darker shade for hover effect */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100%;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
  border-radius: 100px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) #f1f1f1;
}



@font-face {
  font-family: 'Avenir';
  src: url('./fonts/AvenirLTStd-Roman.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('./fonts/AvenirLTStd-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLight';
  src: url('./fonts/AvenirLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('./fonts/AvenirLTStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.carousel-background {
  animation: fadeIn 5s ease-in-out;
}

.custom-shadow {
  text-shadow: 2px 4px 0px #FFF;
}